{{> headers }}

{{> navbar }}

<div class="container">
<div class="row">
    <div class="col-8">
        <h1>Neo</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ipsam deserunt ratione maxime maiores ipsa harum expedita cupiditate quia enim voluptatum facilis inventore, voluptate placeat odio error est aspernatur nihil.
        </p>
    </div>
    <div class="col-4">
        <img src="{{ img }}" class="img-thumbnail">
    </div>
</div>
</div>

{{> footer }}